body {
background-image:url('adventure-alpine-background-355770.jpg');
background-repeat: no-repeat;
background-size: cover; 
background-attachment: fixed;
background-position: center center;    
        
}

.container{
margin-left: 30%;
margin-right: 30%;
margin-top: 15%;    
padding: 20px 20px 20px 20px;
justify-content: center;
    
}

.container > li {
    display: flex;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    
}
input{
padding:10px 10px 10px 10px;
    flex-grow: 1;
    border-radius: 5px;
border-color: black;
}


::placeholder {
    text-align: center;
    font-size: 15px;
    
}

.header{
    background-color:#999;
   display: flex;
    justify-content:space-between;
}
.left{
    font-family: monospace;
    font-size:45px;
   padding-left: 40px;
}
.right{
 padding-top: 30px;
padding-right: 40px;
}

@media screen and (min-height:768px){
    
    .header {
        font-size: 100px;
    }
    .container{
        
margin-left: 10%;
margin-right: 10%;
margin-top: 45%;  
padding: 10px 10px 10px 10px;
justify-content: center;
}
    
    .container > li {
    display: flex;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    
}
input{
padding:40px 40px 40px 40px;
    flex-grow: 1;
    border-radius: 5px;
border-color: black;
}


::placeholder {
    text-align: center;
    font-size: 45px;
    
}
    #hey{
        font-size: 35px;
    }
    
    .header{
    background-color:#999;
   display: flex;
flex-flow: column;
 align-items: center;
    }
.left{
    font-family: monospace;
    font-size:75px;
}
.right{
 padding-top: 20px;
font-size: 20px;
    padding-bottom: 10px;
    
}

    
}
